<div class="mt-4 ">
   <h1 class="pt-4 pb-4 text-white"> Contactanos para saber más de Comics :D </h1>
    <div class="row mt-4 ">
        <div class="col-6">
            <h2 class="text-white">Integrantes</h2>
            <ul class="list">
                <li class="text-white">Gerardo Macías Marín </li>
                <li class="text-white">Rogelio Macías Padilla</li>
                <li class="text-white">Oscar Arath Thomason Blanco</li>
            </ul>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-white">Nombre</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="text-white">Correo Electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="text-white">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary w-100 text-white">ENVIAR</button>
              </form>
        </div>
    </div>
    <br><br><br>

</div>