<h2>Sobre Comics</h2>
<p>
    LLos precursores del cómic se remontan a las formas pictóricas antiguas de la humanidad, que mezclaban texto e imagen en una secuencia de lectura, como ocurría con los jeroglíficos egipcios o los códices mayas.
</p>
<p>
    Sin embargo, sus primeras formas reales aparecen como medio de protesta y sátira política, en épocas tan antiguas como las del Imperio Romano. Estas viñetas de humor político mostraban a los poderosos o a los gobernantes en situaciones ridículas, soeces o risibles, y por ende solían ser anónimas e ilegales.    
</p>
<p>
    La invención de la imprenta y la litografía, muy posteriormente, dio inicio a su divulgación masiva, a menudo como formato pedagógico para la educación religiosa de niños y mujeres, y posteriormente como un medio amable de brindar instrucciones al lector respecto al armado de un artefacto o a la conducta que debe tener en un recinto (por ejemplo, los dibujos que aún aparecen en los folletos de los aviones comerciales).
</p>
<div class="text-center mb-4">
    <img src="../../assets/img/recursos/imagenes/img/background-batman.jpg" alt="Comic" width="450px">
</div>
<br>