<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/recursos/imagenes/A-64.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/heroes']">Heroes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users']">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/video']">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" #buscarTexto (keyup.enter)="buscarUnHeroe(buscarTexto.value)" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscarUnHeroe(buscarTexto.value)" >Buscar</button>
      </form>
     <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>