<div class="row mt-4 mb-4">
    <div class="col-12">
        <div class="mt-4 mb-4 text-center">
            <p class="pt-2 pb-2 text-white">
                Te invitamos a ver este divertido clip de la serie the big bang theory sobre comics 
            </p>
            <iframe width="550" height="320" src="https://www.youtube.com/embed/7CcAxLbzDDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<br><br>